@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply text-grey-text
    }
}




.song-grid {
    grid-template-columns: [index] 16px [first] 4fr  [last] minmax(60px,1fr);
}


@media(min-width: 400px) {
    .song-grid {
        grid-template-columns: [index] 16px [first] 2fr [last] minmax(100px,1fr);
    }
}

@media(min-width: 768px) {
    .song-grid {
        grid-template-columns: [index] 16px [first] 3fr [var1] 2fr  [last] minmax(100px,1fr);
    }
}